.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  margin: 1.5em;
  padding: 0.5em;
  font-size: 1.4em;
  border-radius: 10px;
  border: 1px b#c3c3c3 solid;
  box-shadow: 2px 2px 5px rgb(165, 180, 165);
  width: 60%;
  text-align: center;
  background-color: #f0f0f0;
}

.contentItens {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.item:hover {
  border: 1px solid #c3c3c3;
  padding: 1.5em;
  border-radius: 10px;
  margin: 0.5em;
  background-color: #f0f0f0;
  min-width: 15em;
  box-shadow: 1px 1px 5px #c3c3c3;
  
}

.item {
  border: 1px solid black;
  padding: 1.5em;
  border-radius: 10px;
  margin: 0.5em;
  background-color: #f0f0f0;
  min-width: 15em;
}

.link {
  color: #4f3e9b;
  font-weight: 600;
  font-size: 1.1em;
}

.descricao {
  color: #8b8b8b;
  font-size: 1em;
}
